:root {
  --dark-magenta: hsl(303, 10%, 53%);
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --light-magenta:hsl(300, 24%, 96%);
}

.my-profile-links {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Spartan", sans-serif;
  background: url(../images/bg-pattern-top-mobile.svg) left top no-repeat, url(../images/bg-pattern-bottom-mobile.svg) right bottom no-repeat;
}

.hero-description, .hero-ratings, .card { 
  max-width: 529px;
  margin-left: auto;
  margin-right: auto;
}
.hero-description h1 {
  font-size: 2.2em;
  font-weight: 700;
  color: var(--very-dark-magenta);
  text-align: center;
  margin: 2.1em auto 0 auto;
  line-height: 1em;
  width: 80%;
}
.hero-description p {
  font-size: 1.05em;
  color: var(--dark-magenta);
  text-align: center;
  letter-spacing: .005em;
  margin: 1.5em auto;
  width: 88%;
  columns: var(--dark-magenta);
  line-height: 1.5em;
}

.hero-ratings {
  margin-top: 2.5em;
}
.ratings-item {
  width: 90%;
  height: 5em;
  background-color: var(--light-magenta);
  margin: 0 auto 1em auto;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ratings-item img {
  margin: 0 .14em;
}
.ratings-item p {
  margin: .6em 0 0 0;
  font-weight: bold;
  color: var(--very-dark-magenta);
  font-size: .85em;
}

.card-container {
  margin-top: 2.7em;
  width: 100%;
}
.card {
  box-sizing: border-box;
  border-radius: .5em;
  width: 91%;
  background-color: var(--very-dark-magenta);
  margin: 0 auto 1em auto;
  padding: 2.5em 2em 2em 2em;  
}
.card img {
  vertical-align: middle;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.card p {
  display: inline-block;
  margin: 0 0 0 1.4em;
  vertical-align: middle;
  color: white;
  font-weight: bold;
  font-size: .9em;
}
.card span {
  color: var(--soft-pink);
  display: inline-block;
  margin-top: .2em;
  font-weight: normal;
}
.card q {
  margin-top: 2em;
  display: inline-block;
  line-height: 1.4em;
  font-size: .95em;
  color: var(--light-magenta);
}


@media screen and (min-width: 1220px) {
  body {
    height: 100vh;
    background: url(../images/bg-pattern-top-desktop.svg) left top no-repeat, url(../images/bg-pattern-bottom-desktop.svg) right bottom no-repeat;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

  }
  .hero-container, .card-container { 
    display: flex;
    width: 78%;
    max-width: 1100px;
    margin: 0 auto;
  }
  .hero-description {
    margin: 0;
    flex-basis: 50%;

  }
  .hero-description h1 {
    font-size: 3.4em;
    text-align: left;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 4.8rem;
  }
  .hero-description p {
    text-align: left;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: .4rem;
  }
  .hero-ratings {
    display: flex;
    flex-direction: column;
    margin: 0;
    flex-grow: 1;
    justify-content: flex-end;
  }
  .ratings-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height:52px;
    margin-bottom: 1.4rem;
    width: 85%;
    border-radius: .5rem;
  }
  .hero-ratings div:nth-child(2) {
    position: relative;
    left: 2.8rem;
  }
  .ratings-item:nth-child(3) {
    position: relative;
    left: 5.6rem;
  }
  .ratings-item .stars {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .ratings-item p {
    margin: 0;
  }

  .card-container div:nth-child(1) {
    position: relative;
    top: -1rem;
  }
  .card-container div:nth-child(2) {
    margin-left: 1em;
    margin-right: 1em;
  }
  .card-container div:nth-child(3) {
    position: relative;
    top: 1rem;
  }
}
