@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

:root {
    --clr-primary: hsl(240, 38%, 20%);
    --clr-secondary: hsl(240, 18%, 77%);

    --fw-300: 300;
    --fw-500: 500;
    --fw-700: 700;

    --ff-primary: "Inter", sans-serif;
}

html {
    font-family: var(--ff-primary);
}

body {
    box-sizing: border-box;
    font-size: 32px;
}

/* DEVELOPER LINKS */



/* START HERE */
.hidden {
    display: none;
}

body {
    background: url(../images/pattern-curve.svg) no-repeat bottom center;
    min-height: 100vh;
}

main {
    width: 90%;
    max-width: 328.5px;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.img-container {
    position: relative;
}

.img-container .portfolio-image-decoration {
    width: 100%;
    z-index: 1;
}

.img-container .portfolio-image {
    width: 78%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2rem 3rem -2.5rem var(--clr-primary);
    z-index: 2;
}

button {
    z-index: 3;
    height: 2.5rem;
    width: 2.6rem;
    position: absolute;
    bottom: -3.3%;
    left: 37.5%;
    border: none;
    border-radius: 100vh 0 0 100vh;
    background: url(../images/icon-prev.svg) no-repeat, white;
    background-size: contain;
    background-position: 15px;
    background-size: 10px 14px;
    transform: translateY(-50%);
}
.btn-next {
    background: url(../images/icon-next.svg) no-repeat, white;
    background-size: contain;
    background-position: 18px;
    border-radius: 0 100vh 100vh 0;
    background-size: 10px 14px;
    left: unset;
    right: 37.5%;
}

.btn-prev:hover {
    background: url(../images/icon-prev-active.svg) no-repeat, hsl(240, 38%, 20%);
    background-size: contain;
    background-position: 15px;
    background-size: 10px 14px;
}
.btn-next:hover {
    background: url(../images/icon-next-active.svg) no-repeat, hsl(240, 38%, 20%);
    background-size: contain;
    background-position: 18px;
    border-radius: 0 100vh 100vh 0;
    background-size: 10px 14px;
    left: unset;
    right: 37.5%;
}

.text-container {
    font-size: 1.13rem;
    color: var(--clr-primary);
    font-weight: var(--fw-300);
    text-align: center;
    margin-top: 3.3rem;
    line-height: 1.5rem;
    position: relative;
}

.text-container img {
    width: 3.7rem;
    height: 3rem;
    position: absolute;
    top: -12%;
    left: 50%;
    transform: translateX(-50%);
}

.text-container strong {
    margin-top: 1rem;
    display: block;
    font-size: 1rem;
    font-weight: var(--fw-700);
}

.text-container span {
    color: var(--clr-secondary);
    font-weight: var(--fw-500);
    display: block;
    font-size: .95rem;
}

@media screen and (min-width: 900px) {
    body {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: left bottom;
    }
    main {
        max-width: unset;
        margin: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    article {
        display: flex;
        position: relative;
    }

    .img-container {
        position: absolute;
        order: 2;
        width: 54%;
        top: 50%;
        right: 1%;
        transform: translateY(-50%);
    }

    .btn-prev {
        height: 3.5rem;
        width: 3.5rem;
        top: 90%;
        left: 22%;
        background-size: 11px 16px;
        background-position: 20px;
    }

    .btn-next {
        height: 3.5rem;
        width: 3.5rem;
        top: 90%;
        background-position: 23px;
        background-size: 11px 16px;
        left: 30%;
    }

    .btn-prev:hover {
        background: url(../images/icon-prev-active.svg) no-repeat, hsl(240, 38%, 20%);
        background-size: contain;
        background-position: 23px;
        background-size: 11px 16px;
    }
    .btn-next:hover {
        background: url(../images/icon-next-active.svg) no-repeat, hsl(240, 38%, 20%);
        background-size: contain;
        background-position: 23px;
        background-size: 11px 16px;
        border-radius: 0 100vh 100vh 0;
        top: 90%;
        left: 30%;
    }

    .text-container {
        width: 50%;
        text-align: left;
        font-size: 2rem;
        line-height: 2.8rem;
        margin-left: 7%;
        margin-top: 5%;
        order: 1;
    }

    .text-container q {
        display: block;
    }
    .text-container strong, 
    .text-container span {
        display: inline-block;
        font-size: 1.25rem;
        margin-top: 2rem;
    }
}