/* ==========
  DEFAULTS
  ========== */

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.5rem;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* ==========
  TYPOGRAPHY
========== */

/* NAV LINKS */
.front-end-mentor-link,
.my-projects,
.my-code {
  color: hsl(0, 78%, 62%);
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.front-end-mentor-link:hover,
.my-projects:hover,
.my-code:hover {
  text-decoration: none;
  font-weight: bold;
}

.my-projects {
  color: hsl(34, 97%, 64%);
  left: 14.1504rem;
}

.my-code {
  color: hsl(212, 86%, 64%);
  left: 23.587rem;
} /* NAV LINKS */

/* header TYPOGRAPHY */
.header-title {
  color: hsl(234, 12%, 34%);
  font-size: 2.4rem;
  font-weight: 200;
}

.header-title strong {
  font-weight: 600;
}

.header-description {
  color: hsl(229, 6%, 66%);
  padding-inline: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
}

/* cards TYPOGRAPHY */
.card-title {
  color: hsl(234, 12%, 34%);
  font-size: 2rem;
  letter-spacing: 0.015rem;
  margin-bottom: -0.8rem;
  padding-top: 2.1rem;
  padding-left: 2.65rem;
}

.card-description {
  color: hsl(229, 6%, 66%);
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  line-height: 2.3rem;
  padding-left: 2.82rem;
}

/* ==========
  LAYOUT
========== */

body {
  background-color: hsl(0, 0%, 98%);
}

header {
  margin-inline: auto;
  max-width: 350px;
  text-align: center;
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

.container {
  width: 31rem;
  margin: 2rem auto;
}

.card-content {
  width: 100%;
  height: 100%;
}

.cards {
  height: 21.8rem;
  margin-top: 2.8rem;
  position: relative;
  background-color: white;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 1rem 1rem 1.5rem hsla(229, 64%, 66%, 0.1),
    -1rem 1rem 1.5rem hsla(229, 64%, 66%, 0.1);
}

.card-top-border {
  width: 100%;
  position: absolute;
  top: -0.45rem;
  border: 1rem solid transparent;
  border-radius: 0.9rem;
  z-index: -1;
}

.card-1 .card-top-border {
  border-color: hsl(180, 62%, 55%);
}

.card-2 .card-top-border {
  border-color: hsl(0, 78%, 62%);
}

.card-3 .card-top-border {
  border-color: hsl(34, 97%, 64%);
}

.card-4 .card-top-border {
  border-color: hsl(212, 86%, 64%);
}

/* ==========
  COMPONENTS
========== */

img {
  width: 8.5rem;
  display: block;
  margin-top: 3.5rem;
  margin-left: auto;
  padding-right: 2.9rem;
}

/* ==========
  @MEDIA QUERIES
========== */

@media screen and (min-width: 1200px) {
  /* ==========
    @MEDIA QUERIES - TYPOGRAPHY
  ========== */

  h2 {
    margin-top: 0;
  }

  header {
    margin-top: 7rem;
    max-width: 600px;
  }
  .header-title {
    font-size: 3.4rem;
    letter-spacing: 0.1rem;
  }

  .header-description {
    max-width: 550px;
    padding-inline: 1rem;
    letter-spacing: 0.01rem;
    margin: 2rem auto;
  }

  .card-title {
    padding-top: 2.8rem;
    padding-left: 3.2rem;
  }

  .card-description {
    margin-top: 1.5rem;
    padding-left: 3.3rem;
  }

  .card-2-3 .card-title {
    padding-top: 2.8rem;
  }

  .card-2-3 .card-description {
    margin-top: 1.5rem;
    padding-left: 3.3rem;
  }

  /* ==========
    @MEDIA QUERIES - LAYOUT
  ========== */

  .container {
    width: 100%;
    margin-top: 6.7rem;
    margin-bottom: 6.7rem;
  }

  .card-body {
    max-width: 111rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cards {
    width: 35rem;
    height: 24.5rem;
    margin: 0;
  }

  .card-3 {
    margin-top: 3.4rem;
  }

  /* ==========
    @MEDIA QUERIES - COMPONENTS
  ========== */

  img {
    width: 9.3rem;
    margin-top: 4rem;
    margin-left: 25/5rem;
  }
}
