
/* ==========
  DEFAULTS
  ========== */

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}


/* ==========
  TYPOGRAPHY
========== */

.front-end-mentor-link,
.my-projects,
.my-code {
  color: hsl(179, 100%, 13%);
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.front-end-mentor-link:hover,
.my-projects:hover,
.my-code:hover {
  text-decoration: none;
  text-shadow: 0 0 .1rem hsl(184, 100%, 22%);
}

.my-projects {
  left: 14.1504rem;
}

.my-code {
  left: 23.587rem;
}

/* ==========
  LAYOUT
========== */



/* ==========
  COMPONENTS
========== */



/* ==========
  @MEDIA QUERIES
========== */

@media screen and (min-width:1000000000000) {

  /* ==========
    @MEDIA QUERIES - TYPOGRAPHY
  ========== */



  /* ==========
    @MEDIA QUERIES - LAYOUT
  ========== */



  /* ==========
    @MEDIA QUERIES - COMPONENTS
  ========== */
